@media (max-width: 450px) { 
    .card_container{
        width: 30%;
        min-height: 1px;
        padding-left: 25px;
        margin-bottom: 50px;
        .card{
            padding: 5rem 3rem;
            border-radius: 15px;
            border: 0.05rem solid #ececec;
            &:hover{
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }
            .card_text_section{
                .text{
                    margin: 0;
                    font-size: 16px;
                    font-weight: 700;
                    padding-bottom: 26px;
    
                }
                .sub_text{
                    font-size: 14px;
                    line-height: 1.5;
                    text-align: justify;
                    margin-bottom: 2.7rem;
                }
                span{
                    font-size: 14px;
                    color: #3bb77e;
                }
            }
    
        }
    }
}
@media(min-width: 451px) and (max-width: 768px) { 
    .card_container{
        width: 30%;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 50px;
        .card{
            padding: 5rem 3rem;
            border-radius: 15px;
            border: 0.05rem solid #ececec;
            &:hover{
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }
            .card_text_section{
                .text{
                    margin: 0;
                    font-size: 24px;
                    font-weight: 700;
                    padding-bottom: 26px;
    
                }
                .sub_text{
                    font-size: 1rem;
                    line-height: 1.5;
                    text-align: justify;
                    margin-bottom: 2.7rem;
                }
                span{
                    font-size: 1rem;
                    color: #3bb77e;
                }
            }
    
        }
    }
}
@media(min-width: 769px) and (max-width: 2560px) {
    .card_container{
        width: 30%;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 50px;
        .card{
            padding: 5rem 3rem;
            border-radius: 15px;
            border: 0.05rem solid #ececec;
            &:hover{
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }
            .card_text_section{
                .text{
                    margin: 0;
                    font-size: 24px;
                    font-weight: 700;
                    padding-bottom: 26px;
    
                }
                .sub_text{
                    font-size: 1rem;
                    line-height: 1.5;
                    text-align: justify;
                    margin-bottom: 2.7rem;
                }
                span{
                    color: #3bb77e;
                    font-size: 1rem;
                }
            }
    
        }
    }
 }
