.Fiters_Wrapper{
    gap: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .BrandFilter {
        width: 150px; 
        select {
          width: 100%;
          padding: 8px;
          color: #333;
          cursor: pointer;
          font-size: 14px;
          border-radius: 4px;
          background-color: #fff;
          border: 1px solid #ccc;
          transition: border-color 0.3s ease;
          &:hover {
            box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
          }
        }
      }
    .VariantFilter{
        width: 150px; 
        select {
          width: 100%;
          padding: 8px;
          color: #333;
          font-size: 14px;
          cursor: pointer;
          border-radius: 4px;
          background-color: #fff;
          border: 1px solid #ccc;
          transition: border-color 0.3s ease;
          &:hover {
            box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
          }
        }
    }
    .PriceFilter{
        width: 150px; 
        select {
          width: 100%;
          padding: 8px;
          color: #333;
          cursor: pointer;
          font-size: 14px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background-color: #fff;
          transition: border-color 0.3s ease;
          &:hover {
            box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
          }
        }
    }
}