.container{
    gap: 40px;
    width: 100%;
    display: flex;
    margin-top: 100px;
    margin-left: 40px;
    margin-bottom: 50px;
    .image{
      width: 40%;
        img{
         width: 70%;
         border-radius: 15px;
        }
    }
    .text_block{
        width: 60%;
        padding-right: 30px;
        .stars{
            i{
              font-size: 20px;
              color:#f2ea0d;
              margin-right: 2px;

            }
        }
        b{
            color: #444444;
        }
        .counter{
            gap: 10px;
            display: flex;
            margin-top: 10px;
            margin-bottom: 30px;
            .countBtn{
                border: none;
                color: #fff;
                font-size: 18px;
                padding: 2px 10px;
                background-color: #444444;
            }
        }
        .btn{
            color: #333;
            cursor: pointer;
            font-size: 16px;
            margin-top: 10px;
            padding: 10px 20px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }
        .btn:hover{
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
          }
    }
}