@media (max-width: 450px) {
    .services_container{
        margin-top: 40px;
        .text_heading{
            margin-bottom: 2rem;
            text-align: center;
            h2{
                margin: unset;
                font-size: 20px;
                font-weight: bolder;
                letter-spacing: .05rem;
                font-family:'Courier New', Courier, monospace;
             }
             img{
                width: 30%;
             }
            }
        .services_section{
            gap: 10px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
 }

@media(min-width: 451px) and (max-width: 768px) { 
    .services_container{
        margin-top: 40px;
        .text_heading{
            margin-bottom: 2rem;
            text-align: center;
            h2{
                margin: unset;
                font-size: 30px;
                font-weight: bolder;
                letter-spacing: .05rem;
                font-family:'Courier New', Courier, monospace;
             }
    
            }
            .services_section{
                gap: 10px;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
    }
}

@media(min-width: 769px) and (max-width: 2560px) {
    .services_container{
        margin-top: 40px;
        .text_heading{
            margin-bottom: 2rem;
            text-align: center;
            h2{
                margin: unset;
                font-size: 40px;
                font-weight: bolder;
                letter-spacing: .05rem;
                font-family:'Courier New', Courier, monospace;
             }
    
            }
            .services_section{
                gap: 10px;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
    }
 }