@media (max-width: 450px) { 
.Navbar_Wrapper{
    top: 0px;
    width: 100%;
    height: 10%;
    display: flex;
    position: fixed;
    background-color: khaki;
    .Left_Section{
        width: 60%;
        display: flex;
        font-size: 9px;
        font-weight: bold;
        align-items: center;
        list-style-type: none;
        ul{
            gap: 5px;
            display: flex;
            padding-left: 4%;
        }
        li{
            display: inline-block;
        }
        a {
            color: black;
            text-decoration: none;
            &:hover {
                font-weight: bold;
            }
        }
        .Home{
            color: black;
        }
            .Select_Wrapper {
                width: 100px; 
                select {
                  width: 100%;
                  border: none;
                  color: black;
                  cursor: pointer;
                  font-size: 10px;
                  font-weight: bold;
                  background: transparent;
                }
              }
        }
    .Right_Section{
        gap: 10px;
        width: 40%;
        display: flex;
        font-size: larger;
        margin-left: 15px;
        align-items: center;
        justify-content: center;
        a{
            text-decoration: none;
            color: black;
        }
        i{
            font-size: 22px;
            cursor: pointer;
        }
        button{
            width: 30%;
            height: 60%;
            color: black;
            margin-top: 8px;
            font-size: 10px;
            margin-bottom: 8px;
            border-radius: 5px;
            text-decoration: none;
            background-color: khaki;
            cursor: pointer;
            &:hover{
                box-shadow: 2px 3px 6px rgb(104, 103, 103);
            }
        }
        }
}
}

@media(min-width: 451px) and (max-width: 768px){
    .Navbar_Wrapper{
        top: 0px;
        width: 100%;
        display: flex;
        position: fixed;
        background-color: khaki;
        .Left_Section{
            gap: 40%;
            width: 60%;
            display: flex;
            font-weight: bold;
            list-style-type: none;
            ul{
                gap: 20px;
                display: flex;
            }
            li{
                margin-right: 12px;
                display: inline-block;
            }
            a {
                color: black;
                text-decoration: none;
                &:hover {
                    font-weight: bold;
                }
            }
            .Home{
                color: black;
            }
                .Select_Wrapper {
                    width: 150px; 
                    select {
                      width: 100%;
                      border: none;
                      color: black;
                      cursor: pointer;
                      font-size: 14px;
                      font-weight: bold;
                      background: transparent;
                    }
                  }
            }
        .Right_Section{
            gap: 50px;
            width: 40%;
            display: flex;
            font-size: larger;
            align-items: center;
            justify-content: center;
            a{
                text-decoration: none;
                color: black;
            }
            i{
                font-size: 40px;
                cursor: pointer;
            }
            button{
                width: 15%;
                height: 40%;
                color: black;
                margin-top: 8px;
                margin-bottom: 8px;
                border-radius: 5px;
                text-decoration: none;
                background-color: khaki;
                cursor: pointer;
                &:hover{
                    box-shadow: 2px 3px 6px rgb(104, 103, 103);
                }
            }
            img{
                width: 10%;
            }
            }
    }
}

@media(min-width: 769px) and (max-width: 2560px){
    .Navbar_Wrapper{
        top: 0px;
        width: 100%;
        display: flex;
        position: fixed;
        background-color: khaki;
        .Left_Section{
            gap: 40%;
            width: 60%;
            display: flex;
            font-weight: bold;
            list-style-type: none;
            ul{
                display: flex;
                gap: 20px;
            }
            li{
                margin-right: 12px;
                display: inline-block;
            }
            a {
                color: black;
                text-decoration: none;
                &:hover {
                    font-weight: bold;
                }
            }
            .Home{
                color: black;
            }
                .Select_Wrapper {
                    width: 150px; 
                    select {
                      width: 100%;
                      border: none;
                      color: black;
                      cursor: pointer;
                      font-size: 14px;
                      font-weight: bold;
                      background: transparent;
                    }
                  }
            }
        .Right_Section{
            gap: 50px;
            width: 40%;
            display: flex;
            font-size: larger;
            align-items: center;
            justify-content: center;
            a{
                text-decoration: none;
                color: black;
            }
            i{
                font-size: 40px;
                cursor: pointer;
            }
            button{
                width: 15%;
                height: 60%;
                color: black;
                margin-top: 8px;
                margin-bottom: 8px;
                border-radius: 5px;
                text-decoration: none;
                background-color: khaki;
                cursor: pointer;
                &:hover{
                    box-shadow: 2px 3px 6px rgb(104, 103, 103);
                }
            }
            img{
                width: 10%;
            }
            }
    }
}