.Navbar_Wrapper{
    width: 100%;
    display: flex;
    background-color: khaki;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    .Left_Section{
        width: 60%;
        gap: 40%;
        display: flex;
        list-style-type: none;
        .Home{
            color: black;
        }
        li{
            margin-right: 12px;
            display: inline-block;
        }
            a {
                color: black;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
    }
    .Right_Section{
        width: 40%;
        display: flex;
        justify-content: center;
        gap: 50px;
        a{
            text-decoration: none;
        }
        button{
            border-radius: 10%;
            text-decoration: none;
            &:hover{
                border-radius: 40%;
            }
        }
        img{
            width: 10%;
        }
        }
}