@media (max-width: 450px) {
.Footer_Wrapper{
      width: 100%;
      display: flex;
      flex-direction: column;
      .Links{ 
        width: 100%;
        display: flex;
        background-color: grey;
        justify-content: space-evenly;
        ul{
        padding-left: 0px;
        }
        .About{
            left: 0px;
            width: 25%;
            display: flex;
            font-size: 13px;
            flex-direction: column;
    }
    .Contact_Us{
        display: flex;
        font-size: 15px;
        padding-left: 0%;
        align-items: center;
        flex-direction: column;
    }
    .Follow{
        width: 40%;
        display: flex;
        padding-left: 20px;
        flex-direction: column;
        h3{
            font-size: 15px;
        }
        .Images{
            gap: 5px;
            display: flex;
            img{
                width: 15%;
            }
        }
    }
}
    .Terms{
        margin-top: 50px;
        text-align: center;
        background-color: #F2F2F2;
    }
}
}

@media(min-width: 451px) and (max-width: 768px){
    .Footer_Wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        .Links{ 
          width: 100%;
          display: flex;
          background-color: grey;
          justify-content: space-evenly;
          .About{
              display: flex;
              flex-direction: column;
      }
      .Contact_Us{
          display: flex;
          flex-direction: column;
      }
      .Follow{
          display: flex;
          flex-direction: column;
          .Images{
              gap: 10px;
              display: flex;
          }
      }
  }
      .Terms{
          margin-top: 50px;
          text-align: center;
          background-color: #F2F2F2;
      }
  }
}

@media(min-width: 769px) and (max-width: 2560px){
    .Footer_Wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        .Links{ 
          width: 100%;
          display: flex;
          background-color: grey;
          justify-content: space-evenly;
          .About{
              display: flex;
              font-size: large;
              flex-direction: column;
      }
      .Contact_Us{
          display: flex;
          font-size: large;
          flex-direction: column;
      }
      .Follow{
          display: flex;
          flex-direction: column;
          .Images{
              gap: 10px;
              display: flex;
          }
      }
  }
      .Terms{
          margin-top: 50px;
          text-align: center;
          background-color: #F2F2F2;
      }
  }
}