@media (max-width: 450px) {
    .Filters_Warpper{
        .Filters{
            margin-top: 20%;
            margin-right: 5%;
            margin-left: 5%;
        }
        .Products_Wrapper{
            gap: 20px;
            width: 100%;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            margin-top: 30px;
            margin-bottom: 50px;
            justify-content: center;
        }
    }
 }
@media(min-width: 451px) and (max-width: 768px) { 
    .Filters_Warpper{
        .Filters{
            margin-top: 10%;
        }
        .Products_Wrapper{
            gap: 20px;
            width: 90%;
            margin: auto;
            display: flex;
            margin-top: 50px;
            margin-bottom: 50px;
        }
    }
}
@media(min-width: 769px) and (max-width: 2560px) { 
    .Filters_Warpper{
        .Filters{
            margin-top: 5%;
        }
        .Products_Wrapper{
            gap: 20px;
            width: 90%;
            margin: auto;
            display: flex;
            margin-top: 50px;
            margin-bottom: 50px;
        }
    }
}