.orderWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    .allOrders{
     gap: 1%;
     width: 90%;
     margin: 5% auto;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
     border: 2px solid grey;
     border-radius: 10px;
     img{
        width: 10%;
     }
    }
    .formWrapper{
      width: 100%;
      margin: auto;
      display: flex;
      .contactForm{
        width: 50%;
        gap: 10px;
        display: flex;
        margin: 5%;
        margin-top: 0;
        justify-content: center;
        flex-direction: column;
        .input{
          width: 90%;
          padding: 10px;
          color: #333;
          font-size: 14px;
          margin-top: 5px;
          border-radius: 10px;
          border: 1px solid #ccc;
        }
        .input:focus{
          outline: none;
          border-color: blue;
          box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
          &:hover{
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
          }
        }
      }
      .image{
        width: 50%;
        display: flex;
        justify-content: center;
        img{
          width: 60%;
        }
      }
    }
}